<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
    aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" style="text-align: center;">Order of Service</h4>
    </div>

    <div class="modal-body">
        <h1>Order Of Service</h1>
        <h3>versão em desenvolvimento</h3>
        <p>Controle de Ordem de Serviços.</p>
        <ul>
          <li>Clientes</li>
          <li>Equipe</li>
          <li>Membros de Equiepe</li>
        </ul>
    </div>
    
    <div style="text-align: center;">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        Fechar
      </button>
    </div>

    {% include 'base_footer.html' %} 

  </div><!-- /.modal-content -->

</div><!-- /.modal-dialog -->
</div><!-- /.modal -->