<!DOCTYPE html>
<html lang="en">
    {%  block page_head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{STATIC_URL}}ico/favicon.png">

        {% block page_head_title %}
            <title>OrderOfService</title>
        {% endblock page_head_title %}

        {% block page_head_css %}
            <!-- Bootstrap core CSS -->
            <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="navbar-fixed-top.css" rel="stylesheet">
        {% endblock page_head_css %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{STATIC_URL}}js/html5shiv.js"></script>
          <script src="{{STATIC_URL}}js/respond.min.js"></script>
        <![endif]-->

    </head>
    {%  endblock page_head %}
<body>
{% block page_body %}

    {% block top_menu %}
    <!-- Fixed navbar ================================================================================== -->
    <div class="navbar navbar-default navbar-fixed-top">
      
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">OrderOfService</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'home' %}">
                    <span class="glyphicon glyphicon-home"></span>&nbsp;
                    Inicio
                </a>
            </li>

            {% if user.is_authenticated %}      
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;
                        Aplicativos
                        <b class="caret"></b>
                    </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'orderservice' 0 %}">
                            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                            Cadastro de Ordem de Serviço
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            Cadastro de Clientes
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-cog"></span>&nbsp;
                            Cadastro de Equipes
                        </a>
                    </li>
                  </ul>
                </li>
            {% endif %}
            
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                    Contato
                </a>
            </li>

            <li>
                <a data-toggle="modal" href="#myModal" >
                    <span class="glyphicon glyphicon-question-sign"></span>&nbsp;
                    Sobre
                </a>
            </li>
          </ul>
          
          {% block top_menu_usuario_logado %}
          <!-- top-menu info-right ===================================================================== -->
          <ul class="nav navbar-nav navbar-right">            
            
            {% if user.is_authenticated %}           
              <li>    
                <a href="{% url 'logout' %}">         
                <span class="glyphicon glyphicon-user"></span>&nbsp;
                {{user}}
                <span class="glyphicon glyphicon-off">
                </a>   
              </li>
            {% endif %}

          </ul> <!-- <ul class="nav navbar-nav navbar-right"> -->
          <!-- top-menu info-right ===================================================================== -->
          {% endblock top_menu_usuario_logado %}

        </div> <!--/.nav-collapse -->
      </div> <!-- <div class="container"> -->
    </div> <!-- <div class="navbar navbar-default navbar-fixed-top"> -->
    <!-- Fixed navbar ================================================================================== -->    
    {% endblock top_menu %}

    <br><br><br>

    {% block page_context %}
    <!-- page_context ================================================================================== -->    
    <div class="container">
        
    </div> <!-- /container -->
    <!-- page_context ============================================================================ -->        
    {% endblock page_context %}


    <!-- page_footer ============================================================================ -->        
    {% block page_footer %}
        <hr>
        <center>
            <p>
                <a href="http://www.asisco.com.br" target="_blank">
                    <span class="label label-primary">&copy; Asisco 2013</span>
                </a>
            </p>        
        </center>
    {% endblock page_footer %}
    <!-- page_footer ============================================================================ -->        

    {% block modal_sobre %}
    <!-- Modal =================================================================================== -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
        aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">OrderOfService</h4>
        </div>
        <div class="modal-body">
            <h1>OrderOfService</h1>
            <p>Controle de Ordem de Serviços.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal =================================================================================== -->
    {% endblock modal_sobre %}

    {% block page_body_js %}
        <!-- Bootstrap core JavaScript ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{STATIC_URL}}js/jquery.js"></script>
        <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
        <!-- Bootstrap core JavaScript ================================================== -->
    {% endblock page_body_js %}

{% endblock page_body %}
</body>
</html>