{% extends 'base.html' %}

{% block page_context %}
   
    <!-- page_context ================================================================================== -->    
    <div class="container">

        <legend>Cadastro de Clientes</legend>

        {% if form %}
            {% include 'cliente_form.html' %}
            <br>
        {% else %}

            <a href="{% url 'cliente_add' %}" class="btn btn-primary" >
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Adicionar novo Cliente
            </a>
            <br><br>

            {% if clientes %}
                <div style="width: 100%; height: 370px; overflow-y: scroll;">
                    {% include 'cliente_grid.html' %}
                </div>
            {% else %}
                <p>
                    <span class="label label-danger">Nenhum Cliente cadastrado até o momento!</span>
                </p>            
            {% endif %} <!-- if clientes -->

        {% endif %} <!-- if form -->

    </div>
    <!-- page_context ================================================================================== -->   
<script type="text/javascript">
    
    {% if who_called == 'close' %}
        close_delete();
    {% endif %}
    
    function close_delete() {   
        window.opener.location.reload();
        window.close(); 
    }

</script>
{% endblock page_context %}