{% extends 'base.html' %}

{% block page_context %}
   
    <!-- page_context ================================================================================== -->    
    <div class="container">

        <legend>Cadastro de Equipes</legend>

        {% if form %}
            {% include 'equipe_form.html' %}
            <hr>
            <span class="glyphicon glyphicon-plus"></span>
            <a href="{% url 'membro_add_equipe' %}?equipe={{ equipe_pk }}"
               onclick="show_popup_membro(this.href); return false;">Adicionar novo membro</a>

            {% if membros %}
                <br><br>
                {% include 'membro_grid.html' %}
            {% endif  %}

        {% else %}

            <a href="{% url 'equipe_add' %}" class="btn btn-primary" >
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Adicionar nova Equipe</a>
            <hr>

            {% if equipes %}
                {% include 'equipe_grid.html' %}
            {% else %}
                <p>
                    <span class="label label-danger">Nenhum Cliente cadastrado até o momento!</span>
                </p>            
            {% endif %} <!-- if clientes -->

        {% endif %} <!-- if form -->

    </div>
    <!-- page_context ================================================================================== -->   

<script type="text/javascript">
    function show_popup_membro(url) {
        w = window.open(
            url,
            '',
            'height=360, width=400, top=50, left=250, scrollbars=no, resizable=no');
    }
</script>

{% endblock page_context %}