{% extends 'base.html' %}

    {% block page_context %}
    <!-- page_context ================================================================================== -->    
    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>OrderOfService</h1>
            <p>Controle de Ordem de Serviços</p>
            <p>
                <a class="btn btn-lg btn-primary" href="{% url 'orderservice' 0 %}">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                    Cadastrar Order de Serviço &raquo;
                </a>
            </p>
        </div>        

        {% if lista %}
            {% include 'orderservice_grid.html' %}
        {% else %}
            <p>Nenhuma Ordem de Serviço cadastrada até o momento!</p>
        {% endif %}

    </div> <!-- /container -->
    <!-- page_context ============================================================================ -->        
    {% endblock page_context %}
