{% extends 'base.html' %}

{% block page_context %}

    {% if form.erros %}
        {{ form.non_field_erros }}
    {% endif %}

    <blockquote>
        <p><h1>Login de usuário</h1></p>
        <hr>
    </blockquote>  

    <center>        
    <form action="{% url 'django.contrib.auth.views.login' %}" method="POST" class="well">
        {% csrf_token %}
        <table>
            <tr><td><strong>{{ form.username.label_tag }}</strong></td></tr>
            <tr><td>{{ form.username }}</td></tr>
            <tr><td><strong>{{ form.password.label_tag }}</strong></td></tr>
            <tr><td>{{ form.password }}</td></tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="reset" class="btn">Cancelar</button>
                </td>
            </tr>
        </table>
    </form>
    </center>
{% endblock page_context %}