{% extends 'base.html' %}

{% block page_context %}
   
    <!-- page_context ================================================================================== -->    
    <div class="container">

        <legend>Cadastro de Membros</legend>

        {% if form %}
            {% include 'membro_form.html' %}
            <br>
        {% else %}

            <a href="{% url 'membro_add' %}" class="btn btn-primary" >
                <span class="glyphicon glyphicon-plus"></span>&nbsp;
                Adicionar novo Membro
            </a>
            <br><br>        

            {% if membros %}
                {% include 'membro_grid.html' %}
            {% else %}
                <p>
                    <span class="label label-danger">Nenhum Cliente cadastrado até o momento!</span>
                </p>            
            {% endif %} <!-- if clientes -->

        {% endif %}

    </div>

{% endblock page_context %}