{% extends 'base.html' %}

{% block page_context %}
    <!-- page_context ================================================================================== -->    
    <div class="container">

		<legend>Cadastro de Ordem de Serviço</legend>
        
        <!--    Combobox
				<div class="col-xs-6">
					<select class="form-control">
						<option>Larger select</option>
					</select>
				</div>        
        -->
        
        {{ form.cliente }}
        
		{% for c in form.cliente.field.queryset %}
			{{c.id}} - {{c.nome}}
		{% endfor %}        
        
		<form method="post" action="">
		{% if form %}
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="row">
				<div class="col-xs-3 {% if form.numero.errors %} has-error {% endif %}">
					<label for="inputNumero">{{ form.numero.label }}</label>
					<input type="number" id="inputNumero" name="{{ form.numero.name }}" class="form-control" placeholder="{{ form.numero.label }}" value="{{ form.numero.value }}">
					{% if form.numero.errors %} 
						{% for error in form.numero.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}					
				</div>
				<div class="col-xs-5 {% if form.projetoNome.errors %} has-error {% endif %}">
					<label for="inputProjetoNome">{{ form.projetoNome.label }}</label>
					<input type="text" id="inputProjetoNome" name="{{ form.projetoNome.name }}" class="form-control" placeholder="{{ form.projetoNome.label }}" value="{{ form.projetoNome.value }}">
					{% if form.projetoNome.errors %} 
						{% for error in form.projetoNome.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}							
				</div>	
				<div class="col-xs-4 {% if form.cliente.errors %} has-error {% endif %}">
					 <label for="inputCliente">{{ form.cliente.label }}</label>
					 <br/>{{ form.cliente }}
					 <a href="{% url 'cliente_add' %}?who_called=os" onclick="show_popup_cliente(this.href); return false;">
							<span class="glyphicon glyphicon-plus"></span>
					 </a>	
					{% if form.cliente.errors %} 
						{% for error in form.cliente.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}							 				 
				</div>							
			</div> 
			<br/>   
			<div class="row">
				<div class="col-xs-3 {% if form.numeroOP.errors %} has-error {% endif %}">
					<label for="inputNumeroOP">{{ form.numeroOP.label }}</label>
					<input type="number" id="inputNumeroOP" name="{{ form.numeroOP.name }}" class="form-control" placeholder="{{ form.numeroOP.label }}" value="{{ form.numeroOP.value }}">
					{% if form.numeroOP.errors %} 
						{% for error in form.numeroOP.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>	
				<div class="col-xs-5 {% if form.equipamento.errors %} has-error {% endif %}">
					<label for="inputEquipamento">{{ form.equipamento.label }}</label>
					<input type="text" id="inputEquipamento" name="{{ form.equipamento.name }}" class="form-control" placeholder="{{ form.equipamento.label }}" value="{{ form.equipamento.value }}">
					{% if form.equipamento.errors %} 
						{% for error in form.equipamento.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>		
				<div class="col-xs-4 {% if form.referencia.errors %} has-error {% endif %}">
					<label for="inputRef">{{ form.referencia.label }}</label>
					<input type="text" id="inputRef" name="{{ form.referencia.name }}" class="form-control" placeholder="{{ form.referencia.label }}" value="{{ form.referencia.value }}">
					{% if form.referencia.errors %} 
						{% for error in form.referencia.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>										
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-3 {% if form.realizadoPor.errors %} has-error {% endif %}">
					 <label for="inputRealiPor">{{ form.realizadoPor.label }}</label>
					 <br/>{{ form.realizadoPor }}
				     <a href="{% url 'membro_add' %}?who_called=os" onclick="show_popup_membro(this.href); return false;">
						   <span class="glyphicon glyphicon-plus"></span>
					 </a>		
					{% if form.realizadoPor.errors %} 
						{% for error in form.realizadoPor.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						 			 
				</div>	
				<div class="col-xs-5 {% if form.realizadoData.errors %} has-error {% endif %}">
					<label for="inputRealiData">{{ form.realizadoData.label }}</label>
					<input type="date" id="inputRealiData" name="{{ form.realizadoData.name }}" class="form-control" placeholder="{{ form.realizadoData.label }}" value="{{ form.realizadoData.value }}">
					{% if form.realizadoData.errors %} 
						{% for error in form.realizadoData.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>	
				<div class="col-xs-4 {% if form.verificadoPor.errors %} has-error {% endif %}">
					 <label for="inputVerifPor">{{ form.verificadoPor.label }}</label>
					 <br/>{{ form.verificadoPor }}
					 <a href="{% url 'membro_add' %}?who_called=os" onclick="show_popup_membro(this.href); return false;">
					     <span class="glyphicon glyphicon-plus"></span>
					 </a>				
					{% if form.verificadoPor.errors %} 
						{% for error in form.verificadoPor.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						 	 
				</div>										
			</div>	
			<br/>
			<div class="row">
				<div class="col-xs-3 {% if form.verificadoData.errors %} has-error {% endif %}">
					<label for="inputVerifData">{{ form.verificadoData.label }}</label>
					<input type="date" id="inputVerifData" name="{{ form.verificadoData.name }}" class="form-control" placeholder="{{ form.verificadoData.label }}" value="{{ form.verificadoData.value }}">
					{% if form.verificadoData.errors %} 
						{% for error in form.verificadoData.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>	
				<div class="col-xs-5 {% if form.responsavel.errors %} has-error {% endif %}"> 
					 <label for="inputVerifPor">{{ form.responsavel.label }}</label>
					 <br/>{{ form.responsavel }}
					 <a href="{% url 'membro_add' %}?who_called=os" onclick="show_popup_membro(this.href); return false;">
						 <span class="glyphicon glyphicon-plus"></span>
					 </a>  			 
					{% if form.responsavel.errors %} 
						{% for error in form.responsavel.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						 
				</div>	
				<div class="col-xs-4 {% if form.revisao.errors %} has-error {% endif %}">
					<label for="inputRevisao">{{ form.revisao.label }}</label>
					<input type="text" id="inputRevisao" name="{{ form.revisao.name }}" class="form-control" placeholder="{{ form.revisao.label }}" value="{{ form.revisao.value }}">
					{% if form.revisao.errors %} 
						{% for error in form.revisao.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>																
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-3 {% if form.revisaoData.errors %} has-error {% endif %}">
					<label for="inputRevisaoData">{{ form.revisaoData.label }}</label>
					<input type="date" id="inputRevisaoData" name="{{ form.revisaoData.name }}" class="form-control" placeholder="{{ form.revisaoData.label }}" value="{{ form.revisaoData.value }}">
					{% if form.revisaoData.errors %} 
						{% for error in form.revisaoData.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>
				<div class="col-xs-5 {% if form.revisadoPor.errors %} has-error {% endif %}"> 
					 <label for="inputRevisadoPor">{{ form.revisadoPor.label }}</label>
					 <br/>{{ form.revisadoPor }}
					 <a href="{% url 'membro_add' %}?who_called=os" onclick="show_popup_membro(this.href); return false;">
						  <span class="glyphicon glyphicon-plus"></span>
					 </a>   	
					{% if form.revisadoPor.errors %} 
						{% for error in form.revisadoPor.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						 		 
				</div>			
				<div class="col-xs-3 {% if form.totalConjunto.errors %} has-error {% endif %}">
					<label for="inputTotalConj">{{ form.totalConjunto.label }}</label>
					<input type="number" id="inputTotalConj" name="{{ form.totalConjunto.name }}" class="form-control" placeholder="{{ form.totalConjunto.label }}" value="{{ form.totalConjunto.value }}">
					{% if form.totalConjunto.errors %} 
						{% for error in form.totalConjunto.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>								
			</div>
			<br/>
			<div class="row">
				<div class="col-xs-3 {% if form.equipe.errors %} has-error {% endif %}"> 
					 <label for="inputEquipe">{{ form.equipe.label }}</label>
					 <br/>{{ form.equipe }}
					 <a href="{% url 'equipe_add' %}?who_called=os" onclick="show_popup_equipe(this.href); return false;">
						   <span class="glyphicon glyphicon-plus"></span>
					 </a>   	
					{% if form.equipe.errors %} 
						{% for error in form.equipe.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						 		 
				</div>		
				<div class="col-xs-5 {% if form.entregaPrazo.errors %} has-error {% endif %}">
					<label for="inputEntPrazo">{{ form.entregaPrazo.label }}</label>
					<input type="date" id="inputEntPrazo" name="{{ form.entregaPrazo.name }}" class="form-control" placeholder="{{ form.entregaPrazo.label }}" value="{{ form.entregaPrazo.value }}">
					{% if form.entregaPrazo.errors %} 
						{% for error in form.entregaPrazo.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>		
				<div class="col-xs-4 {% if form.entregaLugar.errors %} has-error {% endif %}">
					<label for="inputEntrLugar">{{ form.entregaLugar.label }}</label>
					<input type="text" id="inputEntrLugar" name="{{ form.entregaLugar.name }}" class="form-control" placeholder="{{ form.entregaLugar.label }}" value="{{ form.entregaLugar.value }}">
					{% if form.entregaLugar.errors %} 
						{% for error in form.entregaLugar.errors %}
							<span class="help-block">{{ error|escape }}</span>
						{% endfor %}
					{% endif %}						
				</div>						
			</div>
			<br/>
			<div class="row">
				<div class="form-group pull-right">
					{% if os_pk > 0 %}
					<a href="{% url 'ositem_add' os_pk 0 %}" class="btn btn-default" >
						<span class="glyphicon glyphicon-plus"></span>&nbsp;
						Adicionar Item
					</a>
					{% endif %}
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-floppy-disk"></span>
						Salvar
					</button>
					<a href="{% url 'orderservice_list' %}" class="btn btn-default">
						<span class="glyphicon glyphicon-remove"></span>
						Cancelar
					</a>
				</div>			
			</div>
		{% endif %}
		</form>  
		<hr/>      
		
        {% if ositems %}
            <h3>Itens</h3>
            {% include 'ositem_grid.html' %}
        {% endif %}

    </div>

<script type="text/javascript">
    function show_popup_cliente(url) {
        popup = window.open(
            url,
            '',
            'height=270, width=300, top=150, left=700, scrollbars=no, resizable=no');
    }
    function show_popup_membro(url) {
        popup = window.open(
            url,
            '',
            'height=270, width=300, top=150, left=50, scrollbars=no, resizable=no');
    }
    function show_popup_equipe(url) {
        popup = window.open(
            url,
            '',
            'height=270, width=300, top=150, left=350, scrollbars=no, resizable=no');
    }
</script>

    <!-- page_context ================================================================================== -->    
{% endblock page_context %}

