{% extends 'base.html' %}

{% block page_context %}
    <!-- page_context ================================================================================== -->    
    <div class="container">

		<legend>Cadastro de Ordem de Serviço</legend>
		<form method="post" action="">
		{% if form %}
			{% csrf_token %}
			{{form.as_p}}
			<button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Salvar
            </button>
			<a href="" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
                Cancelar
            </a>
		{% endif %}
		</form>

    </div>
    <!-- page_context ================================================================================== -->    
{% endblock page_context %}