<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <th>Numero</th>
        <th>Projeto</th>
        <th>Cliente</th>
        <th style="text-align: center"><span class="glyphicon glyphicon-cog"></span></th>
    </thead>
    <tbody>            
        
        {% for item in lista %}
        <tr>
            <td>
                <a href="{% url 'orderservice' item.id %}" data-toggle="tooltip" 
                        title="[ Alterar ] Order de Serviço...">
                    {{item.numero}}
                </a>
            </td>
            <td>
                <a href="{% url 'orderservice' item.id %}" data-toggle="tooltip" 
                        title="[ Alterar ] Order de Serviço...">
                    {{item.projetoNome}}
                </a>
            </td>
            <td>{{item.cliente}}</td>
            <td style="text-align: center">
                <a href="{% url 'orderservice' item.id %}">
                    <span class="glyphicon glyphicon-edit" data-toggle="tooltip" 
                        title="[ Alterar ] Order de Serviço..."></span>
                </a>
                &nbsp; 
                <a href="#">
                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip" 
                        title="[ Excluir ] Order de Serviço..."></span>                    
                </a>  
                &nbsp; 
                <a href="{% url 'print_os' item.id %}">
                    <span class="glyphicon glyphicon-print" data-toggle="tooltip" 
                        title="[ Imprimir ] Order de Serviço..."></span>                    
                </a>                                      
            </td> 
        </tr>
        {% endfor %}

    </tbody>
</table>
