<table class="table table-striped table-hover table-condensed table-bordered">
    <thead>
        <th>Numero</th>
        <th>Projeto</th>
        <th>Cliente</th>
        <th style="text-align: center"><span class="glyphicon glyphicon-cog"></span></th>
    </thead>
    <tbody>            
        
        {% for item in lista %}
        <tr>
            <td><a href="{% url 'orderservice' item.id %}">{{item.numero}}</a></td>
            <td><a href="{% url 'orderservice' item.id %}">{{item.projetoNome}}</a></td>
            <td>{{item.cliente}}</td>
            <td style="text-align: center">
                <div class="btn-group">
                  <a class="btn dropdown-toggle btn-small btn-default" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'orderservice' item.id %}">
                                <span class="glyphicon glyphicon-edit"></span>
                                &nbsp; Alterar
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-trash"></span>
                                &nbsp; Excluir
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'print_os' item.id %}">
                                <span class="glyphicon glyphicon-print"></span>
                                &nbsp; Imprimir
                            </a>
                        </li>                  
                  </ul>
                </div>      
            </td> 
        </tr>
        {% endfor %}

    </tbody>
</table>