
<form method="post" action="{% url 'ositem_save' os_pk pk %}">
    
    {% csrf_token %}
    <input type="hidden" name="os_pk" value="{{ os_pk }}">

    <a href="{% url 'service_add' %}?who_called=os"
       onclick="show_popup_service(this.href); return false;">
       <span class="glyphicon glyphicon-plus"></span>
    </a>


    {{form.as_p}}
    
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Salvar
    </button>
    
    <a href="{% url 'orderservice_list' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-remove"></span>
        Cancelar
    </a>
</form>

<script type="text/javascript">

    function show_popup_service(url) {
        popup = window.open(
            url,
            '',
            'height=370, width=400, top=150, left=50, scrollbars=no, resizable=no');
    }   

</script>


